.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loader-text {
    color: white;
    font-size: 18px;
    font-weight: 500;

    animation: fadePulse 1.5s infinite;
}