.button-logout {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    width: 10%;
    height: 30px;
    border-color: white;
}

@media (max-width: 420px) {
  .button-logout {
    width: 60%;
    height: auto;
    padding: 10px;
  }
}
