.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header-container {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 200px;
}


/* Navegación */
.Navbar {
    display: flex;
    gap: 20px;
}

.nav-item {
    list-style: none;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

@media (max-width: 420px) {
    .logo img {
        width: 95px;
    }

    .Navbar {
        gap: 8px;
        margin-right: 9px;
    }

    .nav-link {
        font-size: 10px;
    }

    .header-container {
        padding: 10px 8px;
    }
}